<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.whzl.mengbi">

    <!-- 获取系统权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 推荐的权限 -->
    <!-- 添加如下权限，以便使用更多的第三方SDK和更精准的统计数据 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 推荐的权限 -->
    <!-- 添加如下权限，以便使用更多的第三方SDK和更精准的统计数据 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INSTALL_FAILED_USER_RESTRICTED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_SINTERNETWIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".ui.common.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="label">
        <!--百度统计-->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="ff528ebc4f" />

        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="Baidu Market" />

        <!-- 是否开启错误日志统计，默认为false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" />
        <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START" />
        <!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
        <meta-data
            android:name="BaiduMobAd_TIME_INTERVAL"
            android:value="1" />
        <!-- 日志仅在wifi网络下发送，默认为false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false" />
        <!-- 是否获取基站位置信息 ,默认为true -->
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true" />
        <!-- 是否获取GPS位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_GPS_LOCATION"
            android:value="true" />
        <!-- 是否获取WIFI位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_WIFI_LOCATION"
            android:value="true" />


        <!--&lt;!&ndash;&lt;!&ndash;友盟APPKEY&ndash;&gt;&ndash;&gt;-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5b3c9412a40fa34d390000ac" />

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="mengbi" />
        <!--QQAPPKEY-->
        <!--<meta-data-->
        <!--android:name="52f84675951166e7dcc95b019ccd63fa"-->
        <!--android:value="101477481" />-->
        <!--&lt;!&ndash;微信APPKEY&ndash;&gt;-->
        <!--<meta-data-->
        <!--android:name="c1762807092c6ace7405071a9df51290"-->
        <!--android:value="wxbaa94b521372015c" />-->

        <!--&lt;!&ndash;QQ兼顾Android 8.0&ndash;&gt;-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101477481" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--微信兼顾8.0：-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 新浪微博 -->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.RegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 金山云直播 -->
        <activity
            android:name=".ksyun.player.activity.TextureVodActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ksyun.player.activity.PlayRecordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ksyun.player.activity.TextureVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".ksyun.player.activity.TextureViewMediaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ksyun.player.activity.FloatingVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ksyun.player.activity.FloatingPlayingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ksyun.player.activity.MultiplePlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".ksyun.player.activity.PlayerActivity" />
        <activity android:name=".ksyun.player.activity.NetMediaActivty" />
        <activity android:name=".ksyun.player.activity.SettingActivity" />
        <activity
            android:name=".ksyun.player.activity.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".ksyun.player.activity.HistoryActivity" />
        <activity
            android:name=".ksyun.player.streamer.BaseCameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RiseAnimation" />
        <activity
            android:name=".ksyun.player.streamer.StdCameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RiseAnimation" />
        <activity
            android:name=".ksyun.player.streamer.FloatCameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RiseAnimation" />
        <activity
            android:name=".ksyun.player.streamer.FloatViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/Theme.RiseAnimation" />
        <activity
            android:name=".ksyun.player.streamer.AudioStreamingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/Theme.RiseAnimation" />

        <activity android:name=".ui.activity.UserInfoActivity" />

        <activity android:name=".ui.activity.camera.Camera2Activity"></activity>
        <activity
            android:name=".ui.activity.LiveDisplayActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustNothing"
            android:hardwareAccelerated="true">

        </activity>

        <!--Provider组件-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.whzl.mengbi.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <!--客服中心-->
        <activity
            android:name=".ui.activity.CustomServiceCenterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.NickNameModifyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!--个人信息-->
        <!--修改性别-->
        <activity
            android:name=".ui.activity.GenderModifyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!--修改昵称-->

        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/AppTheme.NoTitle_FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.VIEW" />-->
            <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--&lt;!&ndash; 处理以"app_name://page/type"开头的 URI &ndash;&gt;-->
            <!--<data android:scheme="mengbi" />-->
            <!--<data android:host="play" />-->
            <!--<data android:path="/home" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <!--<data android:scheme="wxbaa94b521372015c" />-->
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.FollowActivity" />
        <activity android:name=".ui.activity.SettingActivity" />
        <activity android:name=".ui.activity.AboutUsActivity" />
        <activity android:name=".ui.activity.WatchHistoryActivity" />
        <activity android:name=".ui.activity.FeedbackActivity" />
        <activity
            android:name=".ui.activity.RankListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.CommWebActivity"
            android:launchMode="singleTop" />
        <activity android:name=".ui.activity.me.ShopActivity" />
        <activity android:name=".ui.activity.me.BuyVipActivity" />
        <activity android:name=".ui.activity.JsBridgeActivity" />
        <activity android:name=".ui.activity.me.BuyGoodnumActivity" />
        <activity android:name=".ui.activity.SearchActivity" />
        <activity android:name=".ui.activity.me.PackActivity" />
        <activity android:name=".ui.activity.base.FrgActivity" />
        <activity android:name=".ui.activity.me.BillActivity" />
        <activity android:name=".ui.activity.ForgetPasswordActivity" />
        <activity android:name=".ui.activity.ResetPasswordActivity" />
        <activity android:name=".ui.activity.RetrievePasswordActivity" />
        <activity
            android:name=".ui.activity.AnchorCardActivity"
            android:theme="@style/TransparentTheme" />
        <activity android:name=".ui.activity.BuySuccubusActivity" />

        <activity android:name=".ui.activity.PersonalInfoActivity" />
        <activity android:name=".ui.activity.PkRecordActivity" />
        <activity android:name=".ui.activity.me.PlayNotifyActivity" />
        <activity android:name=".ui.activity.me.BindingPhoneActivity" />
        <activity android:name=".ui.activity.me.ChangePhoneActivity" />
        <activity android:name=".ui.activity.me.ChipCompositeActivity" />
        <activity android:name=".ui.activity.me.MyChipActivity" />
        <activity android:name=".ui.activity.me.AccountSwitchActivity" />
        <activity android:name=".ui.activity.RedbagActivity" />
        <activity android:name=".ui.activity.me.MyWalletActivity"/>
        <activity android:name=".ui.activity.me.MyLevelActivity"/>
        <activity android:name=".ui.activity.HistoryListActivity"/>
        <activity android:name=".ui.activity.me.MyGuardActivity"/>
    </application>
</manifest>